:root{
    --transform: 0.3s ease;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
}

h2{
    font-size: 1.8rem;
    font-weight: 600;
}

h3{
    font-size: 1.4rem;
    font-weight: 800;
}

h4{
    font-size: 1.1rem;
    font-weight: 500;
}

h5{
    font-size: 1rem;
    font-weight: 400;
    color: black;
}

h6{
    color: white;
}

button{
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: white;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
}

button:hover{
    background-color: #3a3833;
}

a:hover{
    text-decoration: none;
    color: white;
}

.bn{
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: white;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
    text-decoration: none;
}

.bn:hover{
    background-color: #3a3833;
}

.navbar{
    font-size: 16px;
    top: 0;
    left: 0;
}

.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: black;
    transition: 0.3s ease;
}

.navbar .container h7{
    font-size: 30px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar svg:hover,
.navbar-light .navbar-nav .nav-link.activate,
.navbar svg.activate{
    color: coral;
}

.navbar svg{
    font-size: 1.2rem;
    padding: 0.7px;
    cursor: pointer;
    font-weight: 500;
    transform: 0.3s ease;
}

/*Navbar Collapsed*/

#bar{
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
    color: black;
}

#bar:hover,
#bar.active{
    color: white;
}

@media only screen and (max-width: 991px){
    body>nav>div>button:hover,
    body>nav>div>button:focus{
        background-color: coral;
    }

    body>nav>div>button:hover #bar,
    body>nav>div>button:focus #bar{
        background-color: coral;
    }

    #navbarSupportedContent > ul{
        margin: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }

    #navbarSupportedContent > ul > li:nth-child(n) > a{
        padding: 10px 0;
    }
}

.navbar-light .navbar-toggler{
    border: none;
    outline: none;
}


#home{
    background-image: url(/img/pexels-dominika-roseclay-1036808.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top 60px center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: right;
}

#home span{
    color: coral;
}

#new .one img{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#new .one .details{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: 0.3s ease;
}

#new .one:hover .details{
    cursor: pointer;
    background-color: rgba(245, 178, 178, 0.7);
}

#new .one .details a{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #2a2a2a;
    background: none;
    text-transform: uppercase;
    border-bottom: 1px solid #2a2a2a;
    padding: 2.5px;
    transform: translateY(70px);
    transition: 0.3s ease;
    text-decoration: none;
}

#new .one .details a:hover{
    color: white;
    border-bottom: 1px solid white;
}

#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#new .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#new .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer{
    background-color: #2a2a2a;
}

footer h5{
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
}

footer li{
    padding-bottom: 4px;
}

footer li a{
    font-size: 0.8rem;
    color: #999;
}

footer li a:hover{
    font-size: 0.8rem;
    color: white;
}

footer p{
    font-size: 0.8rem;
    color: #999;
}

footer svg{
    color: white;
}

.login{
    border: none;
    background: #3a3833;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    transition: .4s;
    margin-right: 10px;
}

.login:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.login a{
    color: #fff;
    text-decoration: none;
}


/*--------------------- Productos ----------------------*/

.product{
    cursor: pointer;
    margin-bottom: 2rem;
}

.product img{
    transition: 0.3s all;
}

.product:hover img{
    opacity: 0.7;
}

.product .buy-btn{
    background: #fb774b;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
}

.product:hover .buy-btn{
    transform: translateY(0);
    opacity: 1;
}

hr{
    width: 30px;
    height: 4px;
    background-color: #fb774b;
}

.compra{
    background: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
}

.compra::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        red, blue, deeppink, blue,
        red, blue, deeppink, blue,
    );
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}